/* @font-face {
  font-family: 'icons';
  src: url('icons.woff');

}
.app {
  font-family: icons;
} */

html {
  overflow-y: scroll;
}

#root {
  display: flex;
  justify-content: center;
}

body {
  margin: 15px;
}

.appWrapper {
  display: flex;
  margin-top: 20px;
}

.leftCol {
  margin-right: 30px;
}

.hotelImg {
  margin-bottom: 25px;
}