.detailText {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.detailsClass {
  width: 700px;
}

.more, .less {
  color: #895e95;
  cursor: pointer;
}

.more:hover, .less:hover {
  text-decoration-line: underline;
}